@import url('//fonts.googleapis.com/css?family=Roboto:400,300,500');

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.root {
  background-image: url("/src/assets/place_on_fire.png");
  background-position: 400cm 75cm;
  /*background-repeat: no-repeat;*/
  opacity: 0.4;
  left: 0;
  width: 100%;
  height: 25%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.content_container {
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-flow: row wrap;
  width: 70%;
  margin: auto;
}

@media screen and (min-width: 1080px) {
    .content_container {
        width: 60%;
    }
}

.hr_container{
  display: flex;
}

.header_container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}

@media screen and (max-width: 610px) {
    .header_container {
        flex-direction: column;
    }
    .content_container {
        width: 100%;
        padding: 30px 0;
        margin: 0;
    }
    .header_container {
      margin: 0;
      width: 100%;
    }
}

.header {
  color: white;
  font-size: 50px;
  letter-spacing: .05em;
  width: 70%;
  margin: 10px auto;
  text-align: center;
  text-shadow: 1px 1px #fe4902,
               2px 2px #fe4902,
               3px 3px #fe4902,
               4px 4px #fe4902,
               5px 5px #fe4902,
               6px 6px #fe4902;
}

.header_sm {
  color: white;
  font-size: 35px;
  letter-spacing: .05em;
  width: 70%;
  margin: 10px auto;
  text-align: center;
  text-shadow: 1px 1px #fe4902,
               2px 2px #fe4902,
               3px 3px #fe4902,
               4px 4px #fe4902,
               5px 5px #fe4902,
               6px 6px #fe4902;
}

.img {
  margin: auto;
}
